extends layouts/_layout.pug

block title
	| Каталог - Матрасы

block content
	main.main
		.container
			.breadcrumbs
				a.link.link--line.breadcrumbs__link(href="#") Каталог
				span.breadcrumbs__current Матрасы

		section.products
			.container
				h2.title2.products__title Матрасы

				.sub-categories.products__sub-categories
					.sub-categories__list
						a.sub-categories__item(href="#") 
							.sub-categories__item-img-box
								img.sub-categories__item-img(src="temp/sub-categories/matrasi/1.jpg")
							.sub-categories__item-name Беспружинный
						a.sub-categories__item(href="#") 
							.sub-categories__item-img-box
								img.sub-categories__item-img(src="temp/sub-categories/matrasi/2.jpg")
							.sub-categories__item-name Независимый пружинный блок
						a.sub-categories__item(href="#") 
							.sub-categories__item-img-box
								img.sub-categories__item-img(src="temp/sub-categories/matrasi/3.jpg")
							.sub-categories__item-name Зависимый пружинный блок
						a.sub-categories__item(href="#") 
							.sub-categories__item-img-box
								img.sub-categories__item-img(src="temp/sub-categories/matrasi/4.jpg")
							.sub-categories__item-name В скрутке

				form.products__filters(autocomplete="off") 
					.filters
						button.btn.btn--filter.filters__btn.js-open-popup(type="button" data-popup-name="filters")
							+icon('filter', 'btn__icon filters__btn-icon')
							| Все фильтры

						.filter-menu.filters__item
							button.filter-menu__btn(type="button")
								| Цена
								+icon('arrow_right', 'icon--primary filter-menu__btn-icon')
							.filter-menu__content
								.dark-text Цена
								.filter-menu__main(data-speed="0.2")
									.price-filter
										.price-filter__fields
											.price-filter__group
												span.price-filter__text от
												input.price-filter__field.price-filter__field--min(type="text")
											.price-filter__group
												span.price-filter__text до
												input.price-filter__field.price-filter__field--max(type="text")
										.price-filter__slider(
											data-min="201000"
											data-max="490000"
											data-start-min="201000"
											data-start-max="490000"
											data-step="1000"
										)

						.filter-menu.filters__item
							button.filter-menu__btn(type="button")
								| Размер матраса
								+icon('arrow_right', 'icon--primary filter-menu__btn-icon')
							.filter-menu__content
								.dark-text Размер матраса
								.filter-menu__main.js-custom-scrollbar(data-speed="0.2")
									.filter-menu__item
										label.checkbox.checkbox--accept
											input.checkbox__input(type="checkbox" name="size")
											.checkbox__switcher
												+icon('check', 'checkbox__icon')
											.checkbox__text Размер 1
									.filter-menu__item
										label.checkbox.checkbox--accept
											input.checkbox__input(type="checkbox" name="size")
											.checkbox__switcher
												+icon('check', 'checkbox__icon')
											.checkbox__text Размер 2

						.filter-menu.filters__item
							button.filter-menu__btn(type="button")
								| Тип
								+icon('arrow_right', 'icon--primary filter-menu__btn-icon')
							.filter-menu__content
								.dark-text Тип
								.filter-menu__main.js-custom-scrollbar(data-speed="0.2")
									.filter-menu__item
										label.checkbox.checkbox--accept
											input.checkbox__input(type="checkbox" name="type")
											.checkbox__switcher
												+icon('check', 'checkbox__icon')
											.checkbox__text Тип 1
									.filter-menu__item
										label.checkbox.checkbox--accept
											input.checkbox__input(type="checkbox" name="type")
											.checkbox__switcher
												+icon('check', 'checkbox__icon')
											.checkbox__text Тип 2

						.filter-menu.filters__item
							button.filter-menu__btn(type="button")
								| Жесткость
								+icon('arrow_right', 'icon--primary filter-menu__btn-icon')
							.filter-menu__content
								.dark-text Жесткость
								.filter-menu__main.js-custom-scrollbar(data-speed="0.2")
									.filter-menu__item
										label.checkbox.checkbox--accept
											input.checkbox__input(type="checkbox" name="type")
											.checkbox__switcher
												+icon('check', 'checkbox__icon')
											.checkbox__text Жесткость 1
									.filter-menu__item
										label.checkbox.checkbox--accept
											input.checkbox__input(type="checkbox" name="type")
											.checkbox__switcher
												+icon('check', 'checkbox__icon')
											.checkbox__text Жесткость 2


					.products__sorts
						span.text.products__count Товаров: 346
						.select.select--sort.filters__select
							select.select__field
								option(value="popular") Самые популярные
								option(value="new") Самые новые
								option(value="price") Самые недорогие
								option(value="price") Самые дорогие
							+icon('arrow_right', 'icon--primary select__icon')

				.products__list
					each i in [14, 15, 16, 17, 17, 16, 15, 14, 14, 15, 16, 17]
						+card(i, { class: 'products__item' })
				.products__footer
					.pagination
						.pagination__list
							//- a.link.pagination__link.pagination__link--prev(href="#")
							//- 	+icon('arrow_left', 'icon--primary pagination__icon pagination__icon--prev')
							//- 	| Пред
							span.pagination__active(href="#") 1
							a.link.pagination__link(href="#") 2
							a.link.pagination__link(href="#") 3
							a.link.pagination__link.pagination__link--next(href="#")
								| След
								+icon('arrow_right', 'icon--primary pagination__icon pagination__icon--next')
					button.btn.btn--dark.products__more-btn Показать ещё
					span.text Вы посмотрели 24 из 98 товаров

		section.about
			.container
				.about__content
					p.text.about__text
						| Интернет-магазин Askona - предлагает большой выбор стильных диванов в Казахстане.
						| Только мы осуществляем быструю доставку товара в удобное для покупателя время.
					p.text.about__text
						| Изысканный дизайн каждой детали позволяет подобрать модель под существующий интерьер:
					ul
						li диван для кухни - выполнен из качественного материала с кожаной и тканевой обивкой;
						li прямые диваны - создадут уют в гостиной;
						li диван кресло или диван кровать дополнят небольшую комнату решив проблему с размещением гостей и экономией пространства;
						li в качестве спального дивана подойдет еврософа с выдвижным бельевым шкафом;
						li детские диваны выполнены из гипоаллергенных материалов с яркими принтами и вместительными ящиками для игрушек.
					h3 Как купить матрас в Алматы?
					p 
						| Оплатить товар можно банковской картой, наличными и безналичными средствами.
						| Бонусом для покупателей с ограниченными финансовыми возможностями является покупка товара в кредит или рассрочку.
						| По городу Алматы и области доставка мебели осуществляется собственной курьерской службой. В другие города доставляем
					p Магазин постоянно проводит акции и распродажи с существенным снижением цены. Следите за предложениями и не пропустите акции.

block modals 
	include modals/_filters.pug